* {
	margin: 0;
	padding: 0;
	font-feature-settings: "Times New Roman", Times, serif;
	font-size: 1em;
}

body {
	background: #FFF;
}

#corpo {
	width: 90%;/*720px*/
	margin: 0 auto;
	background: #d4ddf8;
	min-width: 600px;
	max-width: 1280px;
}

#topo {
	background: #225992 url(../Imagens/cabecalho2.jpg) no-repeat center top;
	height: 300px; /* colocar o line-height na mesma medida*/
}

#marca {
	color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #225992;
	font-weight: 900;
	font-size: 8em;
	text-align: center;
	line-height: 300px; /* colocar na mesma medida do height */
}

#conteudo {
	float: right;
	width: 75%;/*540px*/
	background: #d4ddf8;
}

#esquerda {
	float: left;
	width: 23%;/*180px*/
	padding-bottom: 20px;
	padding-top: 20px;
	
}

#direita {
	
	float: right;
	width: 32%;/*180px*/
}

#principal {
	width: 61%;/*330px*/
	float: left;
	padding: 0 15px 15px 15px;
	margin: 0 auto;
	background: white;
	
}

#rodape {
	clear: both;
	text-align: center;
	background: lightgray;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 0.8em;
}

.titulo-direita {
	margin: 20px;
	font-size: 1.2em;
}

.post-direita {
	padding: 0px 20px 20px 20px;
}

.menu-esquerda {
	margin: 30px;
}

ul.menu-esquerda {
	list-style: none;
}

ul.menu-esquerda li {
	margin: 8px;
	
}

ul.menu-esquerda li a {
	text-decoration: none;
	color: #225992;
	font-weight: 800;
}

#principal h2 {
	margin: 15px 0 10px 0;
	font-size: 1.2em;

}

.img-principal {
	width: 100%;
	margin: 10px 0;
	max-width: 640px;
}

h2, h3, h6 {
	color: #225992;
}